# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
# ---- Proyecto CIDESA ----
data/
uploads/
logs/
*.db
*.sqlite
# venv específicas
backend/.venv/
backend_stdlib/.venv/
tools/db_bootstrap/.venv/
# ---- Frontend ----
node_modules/
dist/
# ---- IDE/OS ----
.vscode/
.idea/
.DS_Store
